<div class="jumbotron">
		<h3>{{app}}</h3> 
		
		<!-- EXEMPLO 01 <ui-alert title="Ops, aconteceu um problema!" message="error"></ui-alert> -->
		<ui-alert title="Ops, aconteceu um problema!" ng-show="error">
			{{error}}
		</ui-alert>
		
		<div class="content-container">
			
			<hr />

			<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />

			<table ng-show="contatos.length > 0" class="table table-striped">
				<tr>
					<th>Serial</th>
					<th></th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
					<th>Operadora</th>
					<th>Data</th>
				</tr>

				<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
					<td>{{contato.serial}}</td>
					<td><input type="checkbox" ng-model="contato.selecionado"/></td>
					<td><a href="#/detalhesContato/{{contato.id + 1}}">{{contato.nome | name}}</a></td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>
					<td>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
				</tr>
			</table>

			<hr/>

			<a href="#/novoContato" class="btn btn-primary btn-block">Novo Contato</a>

			<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Remover Contato</button>
			
		</div>
	</div>
