.jumbotron {
	width: 600px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron h3 { 
	text-align: center; 
	margin-bottom: 30px;
}

.content-container {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

.table {
	margin-top: 20px;
}

.form-control {
	margin-bottom: 5px;
}

.selecionado {
	background-color: yellow;
}